body {
  font-family: "RobotoRegular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
}

.div_ex {
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  margin: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.p0 {
  padding: 0;
}

/*HEADER*/
header {
  height: 680px;
  background-image: url('../img/banner.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 94px;

}

nav {
  height: 94px;
  line-height: 94px;
}

.menu {
  list-styl-type: none;
}

.menu li {
  display: inline-block;
  padding: 0 30px;
}

.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
}

.menu li a:hover,
.menu li a:focus {
  text-decoration: none;
  color: grey;

}

.top_line {
  height: 1px;
  background-color: #e1e1e1;
}

.logo {
  padding-top: 35px;
}

